<div>
    <h2>Draft my Timetable allows you to browse course list and draft timetables</h2>
</div>

<div class="content" role="main">
    <form (ngSubmit) = "addCourse()" [formGroup]="addCourseFormGroup">
      <mat-form-field>
        <mat-label>Subject Code</mat-label>
        <input (keydown.enter) = "addCourse()" matInput formControlName="subjectCode" placeholder="Enter a Subject Code"
               required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Course Code</mat-label>
        <input (keydown.enter) = "addCourse()" matInput formControlName="courseCode" placeholder="Enter a Course Code"
               required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Course Component</mat-label>
        <input (keydown.enter) = "addCourse()" matInput formControlName="courseComponent" placeholder="Enter a Course Component"
               required>
      </mat-form-field>
  
   
  
   
  
      <mat-accordion class="example-headers-align" multi>
    
      
        <mat-expansion-panel *ngFor="let searchResult of searchResults; let i = index">        
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{searchResult.className}}
            </mat-panel-title>
            <mat-panel-description>
              {{searchResult.subject}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table mat class="mat-elevation-z8">
            <ng-container matColumnDef="Section">
              <th mat-header-cell>class_nbr</th>
              <td>{{searchResult.timetable.class_nbr}}</td>
            </ng-container>
            <ng-container matColumnDef="Section">
              <th mat-header-cell>Section</th>
              <td>{{searchResult.timetable.class_section}}</td>
            </ng-container>
            <ng-container matColumnDef="Component">
              <th mat-header-cell>Component</th>
              <td>{{searchResult.timetable.ssr_component}}</td>
            </ng-container>
  
          </table>
        </mat-expansion-panel>
     
      </mat-accordion> 
  
    </form>

    <div>
      <h2>Public Courses</h2>
      <mat-accordion class="example-headers-align" multi>
            
              
        <mat-expansion-panel *ngFor="let timetable of timetables | slice:0:10">
          <h3>{{timetable.description}}</h3>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{timetable.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{"Created by " + timetable.userEmail}}
            </mat-panel-description>
            <mat-panel-description>
              {{timetable.courses.length + " courses"}}
            </mat-panel-description>
          </mat-expansion-panel-header>
    
          <mat-card>
            <table mat-table [dataSource] = "timetable.courses" class="mat-elevation-z8">
    
                <ng-container matColumnDef="Section">
                  <th mat-header-cell *matHeaderCellDef>Section</th>
                  <td mat-cell *matCellDef="let element; let number = index">{{timetable.courses[number].allInformation.class_section}}</td>
                </ng-container>
    
                <ng-container matColumnDef="Component">
                  <th mat-header-cell *matHeaderCellDef>Component</th>
                  <td mat-cell *matCellDef="let element; let number = index" >{{timetable.courses[number].allInformation.ssr_component}}</td>
                </ng-container>
    
                <ng-container matColumnDef="Class Nbr">
                  <th mat-header-cell *matHeaderCellDef>Class Nbr</th>
                  <td mat-cell *matCellDef="let element; let number = index">{{timetable.courses[number].allInformation.class_nbr}}</td>
                </ng-container>
    
                <ng-container matColumnDef="Days">
                  <th mat-header-cell *matHeaderCellDef>Days</th>
                  <td mat-cell *matCellDef="let element; let number = index">{{timetable.courses[number].allInformation.days}}</td>
                </ng-container>
    
                <ng-container matColumnDef="Start Time">
                  <th mat-header-cell *matHeaderCellDef>Start Time</th>
                  <td mat-cell *matCellDef="let element; let number = index">{{timetable.courses[number].allInformation.start_time}}</td>
                </ng-container>
    
                <ng-container matColumnDef="End Time">
                  <th mat-header-cell *matHeaderCellDef>End Time</th>
                  <td mat-cell *matCellDef="let element; let number = index">{{timetable.courses[number].allInformation.end_time}}</td>
                </ng-container>
    
                <ng-container matColumnDef="Location">
                  <th mat-header-cell *matHeaderCellDef>Location</th>
                  <td mat-cell *matCellDef="let element; let number = index">{{timetable.courses[number].allInformation.facility_ID}}</td>
                </ng-container>
    
                <ng-container matColumnDef="Instructor">
                  <th mat-header-cell *matHeaderCellDef>Instructor</th>
                  <td mat-cell *matCellDef="let element; let number = index">{{timetable.courses[number].allInformation.Instructors}}</td>
                </ng-container>
    
                <ng-container matColumnDef="Requisites and Constraints">
                  <th mat-header-cell *matHeaderCellDef>Requisites and Constraints</th>
                  <td mat-cell *matCellDef="let element; let number = index">{{timetable.courses[number].allInformation.descr}}</td>
                </ng-container>
    
                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef>Status</th>
                  <td mat-cell *matCellDef="let element; let number = index">{{timetable.courses[number].allInformation.enrl_stat}}</td>
                </ng-container>
    
                <ng-container matColumnDef="Campus">
                  <th mat-header-cell *matHeaderCellDef>Campus</th>
                  <td mat-cell *matCellDef="let element; let number = index">{{timetable.courses[number].allInformation.campus}}</td>
                </ng-container>
    
                
      <tr mat-header-row *matHeaderRowDef="displayedColumnsTimetables"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsTimetables;"></tr>
                
            </table>
          </mat-card>
        </mat-expansion-panel>
     
    
    
      </mat-accordion>
      
    </div>

  </div>
  
  